<h1 class="display-4">Bien a toi oklm</h1>
<p class="mb-4">Ceci est Sails.js app cool</p>
<a href="/articles/list" class="btn btn-light">View Articles</a>
<a href="/articles/add" class="btn btn-light">Add Articles</a>